body{
    margin: 2rem;
}
.ReposListCard{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 20px 100px 20px 100px; 

    width: 600px;
    margin: 1rem;
    border-top-left-radius:20px;
    border-top-right-radius:20px; 
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px; 
    box-shadow: 2px 2px 20px rgba(128,128,128,0.4);
    background-color: #ffffff;

    background-image: url('../img/github_logo.png');
    background-position-y: 50%;
    background-position-x: right;
    background-size: 20%;
    background-repeat: no-repeat;
}